/**
* @name Freshcord
* @author Jay45V
* @description Enhances the Discord UI with a fresh new look
* @version 0.0.1
**/

/*Imports*/
@import url('fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*Variables*/
:root {
  --fc-main-font: "DM Sans";
  --fc-wordmark-text: "Freshcord";
  --fc-wordmark-color: none;
  --fc-wordmark-font: "Arial";
}

/*Custom Font*/
[class^=textArea_] span {
  font-family: inherit;
}

em {
  font-family: 'Fira Sans' !important;
}

h1,
h2,
h3 {
  font-family: 'Archivo' !important;
}

code {
  font-family: 'Roboto Mono' !important;
}

body,
span,
div,
main {
  font-family: var(--fc-main-font) !important;
}

h1 span,
h2 span,
h3 span,
em span,
code span {
  font-family: inherit !important;
}


/*Titlebar*/
.withFrame_a934d8 {
  height: 30px !important;
  margin-top: 0px;
  padding-top: 4px;
}

.platform-win .bg_d4b6c5 {
  top: -1000px;
}

/*Discord Wordmark*/
.wordmark_a934d8 svg {
  display: none;
}

.wordmark_a934d8 {
  padding: 5px 12px 3px;
}

.wordmark_a934d8::after {
  content: var(--fc-wordmark-text);
  font-size: 20px;
  font-weight: 500;
  font-family: var(--fc-wordmark-font);
  color: var(--fc-wordmark-color);
  top: 2px;
  left: 0px;
  position: relative;
}

/*Titlebar Buttons*/
.winButtonClose_a934d8,
.winButtonMinMax_a934d8 {
  height: 34px;
  width: 50px;
}

.winButtonClose_a934d8 svg,
.winButtonMinMax_a934d8 svg {
  height: 20px;
  width: 20px;
}